.ui.button {
 
float: right;  
align-items: center;
padding: 10px;
}

.ui.segment {
  align-items: center;
  height: 4vh;

}

#test {
  
}

div.ui.search {
  align-items: center;
}

div#test.ui.segment {
  padding: 0, 0, 0;
}