.ui.button {
 
float: right;  
align-items: center;
padding: 10px;
}

.searchbar{
  padding-top: 32px;
}

#test {
  
}

div.ui.search {
  align-items: center;
}

div#test.ui.segment {
  padding: 0, 0, 0;
}