

#test {
  margin-bottom: 0;
}

div#test.ui.segment {
 margin: 0;
padding: 50px;
 background-color: #282c34;
}

.ui.items>.item>.content>a.header{
  color: white;
 
}

.ui.items>.item .meta{
  color: white;
}


.ui.items>.item .extra{
  color: white;
}

.container1 {
  margin-bottom: 20px;
}

.spacer {

}

.image {
  border:white;
}

.img1, .img2 {
  border-radius: 2px;
  border: white;
}



.top{
 align-self: flex-start;
 
}

.bottom{
align-self: flex-end;
}

.ui.three.column.grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ui.stackable.three.column.grid{
padding-top: 50px;
}