#content-container {
  background-color: #282c34;
   color: white;
  max-width: 100%;
}


#test {
  margin-bottom: 0;
}

div#test.ui.segment {
 margin: 0;
 padding-bottom: 50px;
}

.ui.items>.item>.content>a.header{
  color: white;
 
}

.ui.items>.item .meta{
  color: white;
}


.ui.items>.item .extra{
  color: white;
}

.container1 {
  margin-bottom: 20px;
}

.spacer {

}